@import '../common/base';

.plot {
    height: 480px;
    width: 100%;
    text-align: center;

    h2 {
        color: black;

    }

    .plot-content {
        @include centerDiv;
        flex-direction: row;

        img {
            float: left;
            width: 220px
        }

        .text {
            overflow: hidden;
            margin-left: 250px;
            text-align: left;
        }

        h3 {
            margin-top: 30px;
        }
    }

}