$main: 'Homemade Apple', cursive;

@font-face {
	font-family: "main";
	src: url("../fonts/brotherDeluxe1350____2011.ttf") format("ttf");
	src: url("../fonts/brotherDeluxe1350____2011.woff") format("woff"),
}