@import "../base/base";

.about {
    height: 100vh;
    background: purple;

    @include mobile {
        height: 100%;
        text-align: center;
    }

    .about-container {
        height: 100%;
        width: 70%;
        margin: auto;
        @include vertical-Align;
        

        @include mobile {
            flex-direction: column;
            height:  100%;
            padding: 1em 0;
        }

        .img-div,
        .about-text-div {
            height: 100%;
        }

        .img-div {
            @include vertical-Align;
            
            @include desktop {  
                width: 30%;
            }
        }

        .about-text-div {
            @include vertical-Align;
            justify-content: center;
            padding: 1em;
            @include mobile {
                width: 90%;
            }

            h2 {
                font-family: $main;
            }
             
            p {
                font-family: $secondary;
            }

            @include desktop {
                width: 60%;
            }
        }



    }
}