@import "../base/base";

.about {
    height: 100vh;
    background: $mian;
    background-image: $background-pattern;
    color: #fff;


    .section-name-div {
        position: relative;
        
        h2 {
            padding: .5em;
            font-weight: 300;
            font-size: 2.3em;
            
            &::before {
                content: '';
                width: 5%;
                border-top: 1px solid $highlight;
                position: absolute;
                left: 5%;
                top: 28%;

            }
        }
    }

    @include mobile {
        height: 100%;
        text-align: center;
    }

    .about-container {
        height: 100%;
        width: 70%;
        margin: auto;
        @include vertical-Align;


        @include mobile {
            flex-direction: column;
            height: 100%;
            padding: 1em 0;
        }

        .contact-buttons {
            width: 60%;
            display: flex;
            justify-content: space-around;

            @include mobile {
                width: 100%;
            }

            .contact-button {
                background: $highlight;
                padding: .6em;
                width: 7em;
                border-radius: .9em;
                color: #fff;
                transition: all .2s ease-in;

                &:hover {
                    background: #fff;
                    border: 1px solid $highlight;
                    color: $highlight;
                }
            }
        }

        .img-div,
        .about-text-div {
            height: 100%;

            .about-img {
                max-width: 72%;
                opacity: .9;
            }
        }

        .img-div {
            @include vertical-Align;

            @include desktop {
                width: 30%;
            }
        }

        .about-text-div {
            @include vertical-Align;
            justify-content: center;
            padding: 1em;

            h2 {
                // color: $highlight;
                font-family: $main;
                font-size: 2.5em;
            }

            p {
                font-family: $secondary;
                font-weight: 200;
                font-size: 1.1em;
                line-height: 1.3em;
            }

            @include mobile {
                width: 90%;
            }


            @include desktop {
                width: 60%;
            }
        }



    }
}