@import "../base/base";

.skills {
    height: 100vh;
    text-align: center;
    position: relative;
    color: #fff;

    @include mobile {
        background: $mian;
        background-image: $background-pattern;
    }

    .skills-backdrop {
        @include mobile {
            display: none;
        }
    }

    .skills-dude {
        position: absolute;
        z-index: 1;
        left: 15%;
        top: 20%;

    }

    .backdrop-skills {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -10%;
        height: 100%;


    }

    .skills-layout {
        display: flex;
        height: 100%;

        @include mobile {
            flex-direction: column;
        }

        .skills-left {
            width: 60%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;


            .skills--boxes {
                position: relative;
                width: 30%;
                height: 30%;
                background: $mian;
                margin-bottom: 2em;
                border-radius: .5em;

                &:hover {
                    animation: wiggle .3s;
                    animation-delay: .1s;
                    transform: scale(1.1);
                    transition: all .3s ease-in;

                    
                    .js {
                        top: 0;
                        left: -25%;                        
                        transform: scale(1.1) rotate(-5deg);
                        transition: all .3s .3s ease-in;
                    }
                    .css {
                        left: -25%;                      
                        bottom: -10%;  
                        transform: scale(1.1) rotate(-10deg);
                        transition: all .3s .45s ease-in;
                    }
                    .react {
                        right: -25%;
                        top: 0;
                        transition: all .3s .4s ease-in;
                        transform: scale(1.1) rotate(-5deg);
                    }
                    .wbpack {
                        right: -25%;
                        bottom: -8%;
                        transform: scale(1.1) rotate(-15deg);
                        transition: all .3s .32s ease-in;
                    }
                }

                &:nth-child(1) {
                    // position: relative;
                    top: -5em;
                }

                h2 {
                    padding-top: 2em;
                }

                .tech-logos {
                    width: 20%;
                    position: absolute;
                    z-index: -99;    
                }

                .js {
                    left: 0;
                }

                .react {
                    right: 0;
                
                }
                .wbpack {
                    right: 0;
                    bottom: 0;
                }

                .css {
                    left: 0;
                    bottom: 0;
                }

            }


            @include mobile {
                width: 100%;
            }
        }

        .skills-right {
            width: 40%;
            height: 100%;
            @include vertical-Align;
            justify-content: center;
            position: relative;
            z-index: 1;
            text-align: center;

            @include mobile {
                order: -1;
                width: 100%;
            }

            p {
                width: 50%;
                margin: auto;
                padding: 2em 0;
            }

        }
    }
}



