@import "../base/base";

.skills {
    height: 100vh;
    text-align: center;
    position: relative;
    color: #fff;

    @include mobile {
        background: $mian;
        background-image: $background-pattern;
    }

    .skills-backdrop {
        @include mobile {
            display: none;
        }
    }

    .skills-dude {
        position: absolute;
        z-index: 1;
        left: 15%;
        top: 20%;
        
    }

    .backdrop-skills {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: -10%;
        height: 100%;

        
    }

    .skills-layout {
        display: flex;
        height: 100%;

        @include mobile {
            flex-direction: column;
        }


        .skills-left {
            width: 60%;
            height: 100%;

            @include mobile {
                width: 100%;
            }
        }

        .skills-right {
            width: 40%;
            height: 100%;
            @include vertical-Align;
            justify-content: center;
            position: relative;
            z-index: 1;
            text-align: center;

            @include mobile {
                order: -1;
                width: 100%;
            }

            p {
                width: 50%;
                margin: auto;
                padding: 2em 0;
            }

        }
    }
}