@import './common/fonts';


body {
  background: url('../img/main-backdrop.png');
  // filter: blur(1px );
  background-repeat: no-repeat;
  background-size: cover;

  .torn-paper-backdrop {
    max-width: 90%;
    position: absolute;
    z-index: 0;
    opacity: .85;
  }

  h1,
  h2,
  h3 {
    font-family: main;
  }
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .icon {
    height: 2.5em;
  }


  .serp-molot {
    position: absolute;
    right: -1.8em;
    top: 50px;
    z-index: 99;
    width: 90px;
    transform: rotate(40deg);
  }

  .choose-location-btn {
    border: none;
    background: none;
    font-family: $main;
    // @include custom-cursor('./cursors/310275.svg');
  }

  .weather-content {
    background:url('../img/paper.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0);
  }


}