@mixin on-top {
    position: relative;
    z-index: 1;
}

@mixin vertical-Align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin backgroundPattern {
    background: $mian;
    background-image: $background-pattern;
}

$mobile:  320px;
$tablet: 480px;
$desctop: 767px;
$large-desctop: 1024;

@mixin  mobile {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin  desktop {
    @media (min-width: $tablet) and (max-width: $large-desctop) {
        @content;
    }
}