@function render ($props, $val){
    @return map-get($props, $val);
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin centerDiv {
    width: 800px;
    margin: auto;
    text-align: center;
}

@mixin sectionBase {
    height: auto;
    text-align: center;
}


// Resposive queries

$mobile: 840px;

@mixin mobile {
    @media(max-width: #{$mobile}) {
        @content;
    }
}