.jumbo {
    height:  300px;
    @include flex;
    align-items: center;
    background: url('../img/welcome.jpg');
    background-position: center;

    .main-text {
        color: render($colors, links);
        text-align: center;
        text-transform: capitalize;

        h1 {
            font-family: render($fonts, main);
            font-size: 400%;
        }
        
        p {
            font-family: render($fonts, secondary);
            font-size: 150%;
            opacity: .6;
        }
    }
}