nav {
    height: 10vh;
    background: render($colors, secondary);

    ul {
        height: 100%;
        margin: 0;
        padding: 0;
        @include flex;
        width: 60%;
        align-items: center;

        li {
            list-style: none;

            a {
                text-decoration: none;
                font-family: render($fonts, secondary);
                color: render($colors, links);
                font-size: 1.2em;
            }
        }
    }
}