* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.field {
  background-image: url('img/tile.png');
  position: relative;
}

.pac {
  position: absolute;
  font-weight: bold;
  text-align: center;
  padding-top: 65px;
  transition: left .2s linear, top .2s linear;
}

.boy-active-light {
  background-image: url('img/pacboy-active-light.png');
  width: 85px;
  height: 85px;
}
.bad-boy {
  background-image: url('img/robot.png');
  width: 85px;
  height: 85px;
}
