.calc-base {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 500px;
    width: 300px;
    background: lightcyan;
    margin: auto;
    border: 1px solid black;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .calc-window {
        height: 15%;
        width: 90%;
        border: 1px solid yellow;
    }

    .calc-buttons {
        height: 75%;
        width: 90%;
        border: 1px solid black;
        
        .row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 20%;

            .cel {
                height: 100%;
                width: 24%;
                border: 1px solid black;
            }
        }
    }

}